body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 150%;
    background-color: #FFFFFF;
}

input{
    font-family: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

}

a {
    text-decoration: none;

}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {

    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;

}
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
       
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


.section{
    padding: 96px 0;
}
@media only screen and (min-width:1158px){
    .section{
        padding: 120px 0;
    }
}

/*Header*/

.head-typography {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #434455;
}

.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nvg{
    display: flex;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .nav-header {
        display: flex;
        align-items: center;
    }
}

.mob-logo{
    padding: 16px 0;
        display: block;
}
.logo{

    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   margin-right: 76px;
    

}

.header-list-nav, .adrs{
    display: none;
    align-items: center;
    gap: 40px;
    
   
}
@media screen and (min-width: 768px) {
    .header-list-nav {
        display: flex;
        gap: 40px;
    }
}



.std{
    color: #2e2f42;
}

.phone{
    display: flex;
        gap: 40px;
        
}
@media screen and (min-width: 768px) {
    .phone {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
@media screen and (min-width: 1158px) {
    .phone{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

.main-page-container{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

ul>.email {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;

}

.email {

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px){
    .email{
        font-size: 12px;
    }
}

.email:hover,
:focus {
    color: #404bbf;
}

.studio {

    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 16px;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .studio {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.studio.current{
    position: relative;
}

.studio.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px
}

.studio:hover,
:focus,.studio.current {
    color: #404bbf;
}

.studio:active {
    color: #404bbf;
}

.adrs {
    font-style: normal
}
@media screen and (min-width: 768px) {
    .adrs {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.burger-btn{
    padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
}
@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}
.burger-icon{
    display: block;
        fill: #2F2F37;
    }
    .close-btn{
        border-radius: 50%;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            padding: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu{
            position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .mob-menu.is-open{
                    opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
            
        .mob-container{
            position: relative;
                padding-top: 72px;
                padding-bottom: 40px;
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        
                        .mob-menu-nav {
                            margin-bottom: auto;
                        }
            
                        .mob-nav-list {
                            display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                flex-direction: column;
                                gap: 40px;
                        }
            
                        .mob-nav-link {
                            font-weight: 700;
                                font-size: 36px;
                                line-height: 1.11;
                                letter-spacing: 0.02em;
                                color: #2e2f42;
                        }
            
                        .mob-nav-link.std {
                            color: #404bbf;}
                
                                .mob-adrs-list {
                                    display: flex;
                                    flex-direction: column-reverse;
                                    padding-bottom: 48px;
                                    gap: 24px;
                                }
                
                                .mob-adrs-item {
                                    color: #434455;
                                        font-weight: 500;
                                        font-size: 20px;
                                        line-height: 1.2;
                                        letter-spacing: 0.02em;
                                        font-style: normal;
                                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                }
                                .mob-adrs-item.blue{
                                    color:#4d5ae5
                                }
  .mob-so-icons{
    display: flex;
        gap: 40px;
  }                              
  .mob-so-items{
    width: 40px;
        height: 40px;
  }                              
  .mob-icon-links{
            width: 100%;
                height: 100%;
                background-color: #4d5ae5;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }    
  .so-icon{
    fill: #f4f4fd;
  }                          
/*Main-page*/


.main-page{
   background-color: #2e2f42;
   padding: 72px 0;
background-image:linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)) ,url("../images/Dark-bg-2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.05);
    
    
    margin: auto;
   
    
   
}

@media screen and (min-width: 768px) {
    @media screen and (min-resolution: 192dpi) {
        .main-page{

        
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }

    }


}


@media screen and (min-width: 768px) {
    .main-page {
        padding: 112px 0;
       
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .main-page{
        padding: 188px 0;
        max-width: 1440px;
        height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url(../images/people-office-1x.jpg);
    }
}
@media screen and (min-width: 1158px) {
    @media screen and (min-resolution: 192dpi) {
        .main-page{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }
}




.btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
        color: #fff;
        text-align: center;
        font-size: 16px;
    cursor: pointer;
        background-color:#4d5ae5; 
    border-radius: 4px;
        height: 56px;
        border: none;
        min-width: 169px ;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    
 }
 .btn:hover,:focus{
    
        background-color: #404bbf;
        cursor: pointer;
 }




.main-text{
    font-weight: 700;
        font-size: 36px;
        line-height: 107%;
            letter-spacing: 0.02em;
            text-align: center;
           color:  #ffffff;  
           margin-bottom: 72px;  
          max-width:216px;     
            
}

@media screen and (min-width: 768px) {
    .main-text{
        max-width: 496px;
        font-size: 56px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-text {
        max-width: 496px;
        font-size: 56px;
        margin-bottom: 48px;
    }
}

/*Features*/

.features{
    padding: 96px 0;
}



.visually-hidden{
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        padding-top: 120px;
        padding-bottom: 72px;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip-path: inset(100%);
        white-space: nowrap;
        clip:rect(0 0 0 0);
        overflow: hidden;
        
}

.opportunity{
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
 
  @media only screen  and (min-width:768px ){

    .opportunity{
        flex-wrap: wrap;
        flex-direction:row;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: space-around;
       

    }


}
        @media only screen and (min-width:1158px) {
.opportunity{
    flex-wrap: nowrap;
    gap: 24px;
}



        }




.opportunity-div{
    display: none;
    
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

 @media only screen and (min-width:1158px){

    .opportunity-div{
        display: flex;
    }
 }

.opportunity-list{
    

max-width: 288px;

}
@media only screen and (min-width:768px){


    .opportunity-list {
        max-width: 356px;




}
}
 @media only screen and (min-width:1158px){
    .opportunity-list{
        max-width: 264px;
    }
 }






.opportunity  .goals{
font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 288px;
    margin-bottom: 8px;
       
}
@media only screen and (min-width:768px){
    .opportunity .goals{
        text-align: left;
    }
}

 @media only screen and (min-width:1158px){
    .opportunity .goals{
        font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #2e2f42;
    }
 }


.opportunity .par{
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
 }       

@media only screen and (min-width:1158px) {
    .opportunity .par{
        font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #434455;
    }

}


/*Team*/


.submain-text{
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            text-transform: capitalize;
            margin-bottom: 72px;
            
}

.text-wrapper{

padding: 32px 0;

}

.list{
background-color: #FFFFFF;
max-width: 264px;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

    
.team  .guys{
    font-weight: 500;
        font-size: 20px;
line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    
}
.team  .guys-page{
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #434455;
            margin-bottom: 8px;
            
            
}

.third-page {
    background-color: #F4F4FD;
    padding-top: 96px;
        padding-bottom: 96px;
    
}

.team{
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
   
   
}

@media screen and (min-width: 768px) {
    .team{
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team{
        gap: 24px;
    }
}
.team-svg{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    
    
   
}


.team-links{
display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.team-links:hover{
   background-color: #404bbf;
}
.team-links:focus{
    background-color: #404bbf;
}

/*Portfolio*/

.section{
padding: 96px 0;

}
.few-aps{
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
}
.par-aps{
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
            letter-spacing: 0.02em;
            color: #434455;
            
}




.third-main-page{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
}
.main-aps .few-aps {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.main-aps .par-aps {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
    
}

.main-aps{
        display: flex;
            
            flex-wrap: wrap;
        
            row-gap: 48px;
            
            
}

@media screen and (min-width:768px){
    .main-aps{
        column-gap: 24px;
            justify-content: center;
    }
}


@media screen and (min-width:1158px){
.main-aps{
    display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
}


}


.main-list-aps{
    
       max-width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)

    
      
}


@media screen and (min-width:768px){
    .main-list-app{
        max-width: 356px;
    }
}

@media screen and (min-width:1158px){
    .main-list-app{
        max-width: 360px;
    }
}
.main-list-aps:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper{
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        
}

.overlay{
    position: relative;
    overflow: hidden;
      
    
    

}
.overlay-text{
    background-color: #4d5ae5;
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        text-align: center;
        position: absolute;
        top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 40px 32px;
           display: none;
           
}

@media screen and (min-width:1158px){
    .overlay-text{
        display: block;
    }
}


.main-list-aps:hover .overlay-text{
    
   
transform: translateY(0);
}

/*Footer*/


.footer{
    
    background: #2e2f42;
    padding: 96px 0;
    max-width: 100%;
}  
    
@media only screen and (min-width:1158px){
    .footer{
        
        padding: 100px 0;
    }
}
    


.footer-container{
    display: block;
    
    
    
}

@media only screen and (min-width:768px){
.footer-container{
    display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
            column-gap: 24px;
            padding: 0 92px;
}


}

@media only screen and (min-width:1158px){
    .footer-container{
flex-wrap: nowrap;
padding: 0;
column-gap: 0;
    }
}


.footer-page {

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    min-width: 264px;
    
    
  

}

@media only screen and (min-width:768px){

.footer-page{
    max-width: 264px;
    margin-bottom: 72px;
}
}

@media only screen and (min-width:1158px){
    .footer-page{
        margin-bottom: 0;
    }
}

.logo-two{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;


}

.footer-links{
    margin: 72px 0;
        min-width: 208px;
}

@media only screen and (min-width:768px){
    .footer-links{
        margin: 0;
    }
}

.second-logo{
  color:  #f4f4fd;
}
.footer-page{
    letter-spacing: 0.02em;
    color: #F4F4FD;
        min-width: 288px;
            
            text-align: justify;
}

.logo-page{
    
    text-align: center;
}

@media only screen and (min-width:768px){
    .logo-page{
        text-align: start;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width:1158px){
    .logo-page{
        margin-right: 120px;
    }
}




.footer-media{
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        width: 96px;
        margin: 0 auto;
        margin-bottom: 16px;
}
@media only screen and (min-width:768px){
    .footer-media{
        margin: 0;
       
    }
}
          
@media only screen and (min-width:1158px){
    .footer-media{
        margin:0;
        margin-bottom: 16px;
    }
}


.footer-svg{
    display: flex; 
    gap: 16px;
    justify-content: center;
}



    

.footer-link{
    display: flex;
    
      justify-content: center;
      align-items: center;
        
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
   
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


.icons{
    fill: #f4f4fd;
box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.05);


}
.footer-link:hover, .footer-link:focus{
    background-color: #31d0aa;
}


.footer-form{
   margin-left: auto;
  
   
        
   
    
}
@media only screen and (min-width:768px){
    .footer-form{
        margin-left: 0;
    }
}
@media only screen and (min-width:1158px){
    .footer-form{
        margin-left: auto;
    }
}



.footer-form-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align:center;
        
        
}

@media only screen and (min-width:768px){
    .footer-form-text{
        text-align: left;
    }
}
@media only screen and (min-width:1158px){
    .footer-form-text{
        text-align: left;
    }
}

.subscribe{
    display: block;
    padding: 0 16px;
}

@media only screen and (min-width:768px){
.subscribe{
    display: flex;
    gap: 24px;
    padding: 0;
}


}
@media only screen and (min-width:1158px){
    .subscribe{
        display: flex;
        gap: 24px;
        justify-self: center;
        align-items: center;
    }
}


.input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        padding-left: 16px;
            margin-bottom: 16px;
        
}



.input:placeholder-shown{
    font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #fff;
        
        
}



@media only screen and (min-width:768px){
    .input{
        margin-bottom: 0;
    }
}


.footer-btn{
border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 64px;
    cursor: pointer;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
           
}


.footer-btn:hover, 
.footer-btn:focus{
    
        background-color: #404bbf;
}

.icon-btn{
position: absolute;
right: 24px;
    top: 50%;
    transform: translateY(-50%);
    
    fill: #fff;
    margin-left: 16px;
    
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color:  rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
}
.modal{
    padding: 72px 16px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 288px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

@media only screen and (min-width:768px){
    .modal{
        max-width: 408px;
        padding: 72px 24px 24px;
    }
}
@media only screen and (min-width:1158px){
    .modal{
        max-width: 408px;
        padding: 72px 24px 24px;
    }
}



.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}
.modal-cross{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
    border-radius: 50%;
        background-color: rgb(231, 233, 252);
        stroke-width:1px;
        stroke: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 24px;
        right: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.modal-icons{
fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

 .modal-cross:hover,
 .modal-cross:focus .modal-icons {
     fill: #ffffff;

 }


.modal-cross:hover,
.modal-cross:focus {
    background-color: #404bbf;
    border: none;

}
.form-field{
    margin-bottom: 8px;
}
.modal-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        width: 256px;
        height: 48px;
        
        margin-bottom: 16px;
}

@media only screen and (min-width:768px){
    .modal-text{
        width: 360px;
    }
}
@media only screen and (min-width:1158px){
    .modal-text{
        width: 360px;
    }
}

.form-modal{
    display: flex;
        flex-direction: column;
           max-width: 360px;
                
              
       
       
}
.label{
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
       
        
       
}

.text-area{
    width: 100%;
        height:120px;
font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing:0.04em;
        color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize:none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 16px;
           
            
            
}
.text-area:focus {
    border-color: #4d5ae5;
    
}


.modal-input{
    font-family: inherit;
    color: #2e2f42;

    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width:768px){
.modal-input{
    padding-left: 34px;
}

}

.modal-input:focus{
    border-color: #4d5ae5;
    
}


.modal-svg{
   
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
}
.modal-wrapper{
    position: relative;
    
}
 .modal-input:focus+.modal-svg {
     fill: #4d5ae5;
     
 }
 
.label-privacy{
    font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: flex;
        align-items: center;
       
}

.privacy{
    line-height: 133%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
       
}



.modal-span{
    width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;    
        margin-right: 8px;
            flex-shrink: 0;
       
}

.check:checked + .label-privacy .modal-span {
    background-color: #404bbf;
    border:none;
    fill: #f4f4fd;
}
.checkbox{
    margin-bottom: 24px;
    display: flex;
        align-items: center;
}

.modal-btn{
    padding: 0;
background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    gap: 10px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 25px;
}

.modal-btn:hover, 
.modal-btn:focus{

background-color: #404bbf;
    
}


 

